@charset "utf-8";
/* CSS Document */

.hits-plugin-update {
	text-align: left;
	padding: 0 !important;
	margin: 0 !important;
}

.hits-plugin-update-message {
	-moz-border-radius: 5px;
	margin: 5px;
	padding: 4px 6px;
	background-color: #f5f5f5;
	border: 1px solid #8a0000;
	font-size: 12px;
}

#hits_pbr_options div{
	float:left;
	clear:left;
}

#hits_pbr_options .moveUpLink,#hits_pbr_options .moveDownLink,#hits_pbr_options .deleteLink{
	clear:none;
}

#hits_pbr_options .itemTitle{
	font-weight:bold;
	text-align:right;
	width:160px;
}

#hits_pbr_options .itemField{
	width:700px;
	clear:none;
}

#hits_pbr_options .pbrRecord{
	width:860px;
	height:32px;
	line-height:32px;
}

#hits_pbr_options .pbrRecord .pageInfo{
	clear:none;
}

#hits_pbr_options .pbrRecord .pageInfo span{
	font-weight:bold;
}

#hits_pbr_options #newRecordRow{
	margin-top:10px;
	clear:both;
}

#hits_pbr_options .addButton{
	margin-left:250px;
}